

.estructura-link {
color: #ffffff !important;
font-weight: bold;
}

.bg-custom {
    background-color: #1b4059 !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;       
    font-weight: bold !important;   
    transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    color: #ffffff !important;
}

.navbar-brand:hover span:first-child {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.navbar-brand:hover span:last-child {
    color: #d0e0ff;
    text-shadow: 0 0 4px rgba(51, 102, 204, 0.6);
}
  
  
  