<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<div class="container mt-2">
    <h3 class="text-center text-uppercase fw-bold mb-4">Fuente Espacial CR</h3>

    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-primary btn-sm px-3 shadow-sm" (click)="mostrarFormulario = true">
            <i class="fas fa-file-alt"></i> Agregar Fuente Espacial CR
        </button>

        <div class="input-group w-25">
            <span class="input-group-text bg-white border-end-0">
                <i class="fa-solid fa-search"></i>
            </span>
            <input type="text" [(ngModel)]="searchText" class="form-control border-start-0" placeholder="Buscar...">
        </div>
    </div>

    <div class="table-responsive p-3 bg-white rounded shadow">
        <table class="table table-hover table-striped align-middle text-center custom-table">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>ID Fuente Espacial</th>
                    <th>Tipo de fuente</th>
                    <th>Metadata</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of crFuenteEspacialArray | filter: searchText : ['fuente_espacial', 'tipo', 'metadato_FE'] | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.fuente_espacial }}</td>
                    <td>{{ item.tipo }}</td>
                    <td>{{ item.metadato_FE }}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-warning btn-sm me-2 custom-btn-small" (click)="onEdit(item)">
                                <i class="fa-solid fa-pen-to-square"></i> Editar
                            </button>
                            <button class="btn btn-danger btn-sm custom-btn-small" (click)="onDelete(item.id)">
                                <i class="fa-solid fa-trash"></i> Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

     
    <div class="d-flex justify-content-between align-items-center mt-3">
  
        <div style="width: 33%;" class="text-start">
          <button
            class="btn btn-primary btn-sm px-3 shadow-sm animate-button"
            [routerLink]="['/col-fuente-espacial']">
            <i class="fa-solid fa-circle-left ms-1"></i>
            <strong> Fuente Espacial (COL)</strong>
          </button>
        </div>
      
        <div class="d-flex justify-content-center" style="width: 33%;">
          <pagination-controls
            (pageChange)="page = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente">
          </pagination-controls>
        </div>
      
      <div style="width: 33%;"></div>
    </div>

   <!-- Formulario de Fuente Espacial CR -->
    <div class="card shadow p-4 mt-4" *ngIf="mostrarFormulario">
        <h5 class="text-center mb-3">Agregar / Editar Fuente Espacial CR</h5>
        <form #crFuenteEspacialForm="ngForm">
            <div class="row">
                <div class="row align-items-center mb-3">
                    <div class="col-md-3">
                      <label for="fuente_espacial" class="form-label mb-0 fw-bold">ID Fuente Espacial <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-6">
                        <select
                        class="form-select"
                        id="fuente_espacial"
                        name="fuente_espacial"
                        [(ngModel)]="crFuenteEspacialObj.fuente_espacial"
                        required>
                        <option [ngValue]="null" disabled selected>Seleccione fuente espacial</option>
                        <option *ngFor="let fuenteespacial of fuentesespaciales" [value]="fuenteespacial.id">
                          {{ fuenteespacial.id }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-primary btn-sm px-3 shadow-sm animate-button"
                      [routerLink]="['/col-fuente-espacial']"
                      title="Ir a Fuente ESpacial COL">
                        <i class="fa-solid fa-circle-right"></i>
                      </button>
                    </div>
                  </div>

                  <div class="row align-items-center mb-3">
                    <div class="col-md-3">
                      <label for="tipo" class="form-label mb-0 fw-bold">Tipo de fuente <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-6">
                        <select
                        class="form-select"
                        id="tipo"
                        name="tipo"
                        [(ngModel)]="crFuenteEspacialObj.tipo"
                        required>
                        <option [ngValue]="null" disabled selected>Seleccione tipo de fuente espacial</option>
                        <option *ngFor="let tipo of tiposfuenteespacial" [value]="tipo.valor">
                          {{ tipo.etiqueta }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="row align-items-center mb-3">
                    <div class="col-md-3">
                      <label for="metadato_FE" class="form-label mb-0">Metadata</label>
                    </div>
                    <div class="col-md-6">
                      <input type="text"
                             [(ngModel)]="crFuenteEspacialObj.metadato_FE"
                             id="metadato_FE"
                             name="metadato_FE"
                             class="form-control"
                             placeholder="Corresponde a la ficha técnica y especificaciones del insumo.">
                    </div>
                  </div>
            </div>

            <div class="text-center mt-3">
                @if (crFuenteEspacialObj.id == 0){
                    <button type="submit" class="btn btn-success me-2 btn-sm" (click)="onSave()" [disabled]="!crFuenteEspacialForm.valid">
                        <i class="fa-solid fa-save"></i> Guardar
                    </button>
                }@else {
                    <button type="submit" class="btn btn-warning me-2 btn-sm" (click)="onUpdate()" [disabled]="!crFuenteEspacialForm.valid">
                        <i class="fa-solid fa-pen-to-square"></i> Actualizar
                    </button>
                }
                <button type="button" class="btn btn-danger btn-sm" (click)="onCancel()">
                    <i class="fa-solid fa-times"></i> Cancelar
                </button>
            </div>
        </form>
    </div>

</div>
