<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<div class="container mt-2">
    <h3 class="text-center text-uppercase fw-bold mb-4">Agrupación de Interesados CR</h3>

    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-primary btn-sm px-3 shadow-sm" (click)="mostrarFormulario = true">
            <i class="fa-solid fa-users"></i> 
            <strong> Agregar Agrupación de Interesados CR</strong> 
        </button>

        <div class="input-group w-25">
            <span class="input-group-text bg-white border-end-0">
                <i class="fa-solid fa-search"></i>
            </span>
            <input type="text" [(ngModel)]="searchText" class="form-control border-start-0" placeholder="Buscar...">
        </div>
    </div>

    <div class="table-responsive p-3 bg-white rounded shadow">
        <table class="table table-hover table-striped align-middle text-center custom-table">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>ID Agrupación de Interesado COL</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of crAgrupacionInteresadosArray | filter: searchText : ['agrupacion_interesados'] | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.agrupacion_interesados }}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-warning btn-sm me-2 custom-btn-small" (click)="onEdit(item)">
                                <i class="fa-solid fa-pen-to-square"></i> Editar
                            </button>
                            <button class="btn btn-danger btn-sm custom-btn-small" (click)="onDelete(item.id)">
                                <i class="fa-solid fa-trash"></i> Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    
    <div class="d-flex justify-content-between align-items-center mt-3">
  
        <div style="width: 33%;" class="text-start">
          <button
            class="btn btn-primary btn-sm px-3 shadow-sm animate-button"
            [routerLink]="['/col-miembros']">
            <i class="fa-solid fa-circle-left ms-1"></i>
            <strong> Miembros</strong>
          </button>
        </div>
      
        <div class="d-flex justify-content-center" style="width: 33%;">
          <pagination-controls
            (pageChange)="page = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente">
          </pagination-controls>
        </div>
      
      <div style="width: 33%;"></div>
      </div>

   <!-- Formulario de Agrupación de Interesados COL -->
    <div class="card shadow p-4 mt-4" *ngIf="mostrarFormulario">
        <h5 class="text-center mb-3">Agregar / Editar Agrupación de Interesados CR</h5>
        <form #crAgrupacionInteresadosForm="ngForm">
            <div class="row">
                <div class="row align-items-center mb-3">
                    <div class="col-md-3">
                      <label for="agrupacion_interesados" class="form-label mb-0 fw-bold">ID Agrupación de Interesados <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-6">
                        <select
                            class="form-select"
                            id="agrupacion_interesados"
                            name="agrupacion_interesados"
                            [(ngModel)]="crAgrupacionInteresadosObj.agrupacion_interesados"
                            required>
                            <option [ngValue]="null" disabled selected>Seleccione agrupacion</option>
                            <option *ngFor="let agrupacion of agrupaciones" [value]="agrupacion.id">
                            {{ agrupacion.id }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-primary btn-sm px-3 shadow-sm animate-button"
                      [routerLink]="['/col-agrupacion-interesados']"
                      title="Ir a Agrupación interesados COL">
                        <i class="fa-solid fa-circle-right"></i>
                      </button>
                    </div>
                </div>                  
            </div>

            <div class="text-center mt-3">
                @if (crAgrupacionInteresadosObj.id == 0){
                    <button type="submit" class="btn btn-success me-2 btn-sm" (click)="onSave()" [disabled]="!crAgrupacionInteresadosForm.valid">
                        <i class="fa-solid fa-save"></i> Guardar
                    </button>
                }@else {
                    <button type="submit" class="btn btn-warning me-2 btn-sm" (click)="onUpdate()" [disabled]="!crAgrupacionInteresadosForm.valid">
                        <i class="fa-solid fa-pen-to-square"></i> Actualizar
                    </button>
                }
                <button type="button" class="btn btn-danger btn-sm" (click)="onCancel()">
                    <i class="fa-solid fa-times"></i> Cancelar
                </button>
            </div>
        </form>

    </div>

</div>
